body {
  font-family:'Montserrat',sans-serif;
  background: black;
}

h1 {
  color: #FFD100;
  text-align: center;
}

.image_container {
  display: flex;
  justify-content: center;
}

.display_btn:hover {
  cursor: pointer;
  background: #FFD100;
  color: #3daaff;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}